@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Chakra Petch,sans-serif;
}
.container{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background-color: #333;
    border-bottom: 1px solid rgb(0, 255, 0);
    color: #ebebd3;
    padding: 1em 0;
    position: relative;
}

header::after{
    content: '';
    clear: both;
    display: block;
}
header div .logo{
    float: left;
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
}
div .logo span{
    font-weight: 300;
}
.site-nav{
    top:100%;
    right:0;
    position: absolute;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    border: 1px solid rgb(0, 255, 0);
    width:100%;
}
.site-nav-open{
    clip-path: circle(150% at top right);
}
.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav li{
    border-bottom: 1px solid #575766;
}
.site-nav li:last-child{
    border-bottom: none;
}
.site-nav a{
    color: #ebedb3;
    display: block;
    padding: 2em 6em;
    text-transform: uppercase;
    text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{
    background: rgba(0, 255, 0, 0.3);
    color: white;
}

.site-nav--icon{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4);
}

.menu-toggle{
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
}
.menu-open .burger{
    transform: rotate(45deg);
}
.menu-open .burger::before{
    opacity: 0;
}
.menu-open .burger::after{
    transform: translateY(-3px) rotate(-90deg);
}
.burger,
.burger::before,
.burger::after{
    content: '';
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.burger::before{
    transform: translateY(-6px);
}
.burger::after{
    transform: translateY(3px);
}

@media (min-width:700px){
  .menu-toggle{
      display: none;
  } 
  .site-nav{
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      margin-right: 10px;
      clip-path: initial;   
      width: 70%;   
        border: none;
  } 
  .site-nav li{
      display: inline-block;
      border: none;
  }

  .site-nav a{
      padding: 0;
      margin-left: 3em;
  }
  .site-nav--icon{
      display: none;
  }
  .site-nav a:hover,
  .site-nav a:focus{
      background: transparent;
  }
}