<div class="container">
    <h1 class="logo">Logo <span>Empresa</span></h1>
</div>
<nav id="site-nav" class="site-nav">
    <ul>
        <li>
            <a href="#"><i class="fa fa-home site-nav--icon"></i>Home</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-info site-nav--icon"></i>Acerca</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-pencil-alt site-nav--icon"></i>Blog</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-dollar-sign site-nav--icon"></i>Precios</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-envelope site-nav--icon"></i>Contacto</a>
        </li>
        <!-- <i><a href="Assets/Icons/instagram.ico"></a></i> -->
        <!-- <i><a href="Assets/Icons/facebook.ico"></a></i> -->
        <!-- <i><a href="Assets/Icons/twitter.ico"></a></i> -->
        <!-- <i><a href="Assets/Icons/tik-tok.ico"></a></i> -->
    </ul>
</nav>
<div id="menu-toggle" class="menu-toggle" onClick="changeClass()">
    <div class="burger"></div>
</div>

